---
---

@import "{{ site.theme }}";
html body {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
	background-attachment: fixed;
  background-image:  url("https://upload.wikimedia.org/wikipedia/commons/6/65/Matterhorn-EastAndNorthside-viewedFromZermatt_landscapeformat-2.jpg");
}

p, ul, ol, table, pre, dl {
  margin:0 0 10px;
  padding:0;
}

h2 {
  margin: 15px 0 0 0;
}

.wrapper {
  margin: 200px 0 0 0;
}
