---
---

@import "{{ site.theme }}";
html body {
  font-weight: 450;
  background-color: #183583;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
	background-attachment: fixed;
  background-image:  url("https://upload.wikimedia.org/wikipedia/commons/6/65/Matterhorn-EastAndNorthside-viewedFromZermatt_landscapeformat-2.jpg");
}

p, ul, ol, table, pre, dl {
  margin-bottom: 10px;
  padding:0;
  color: #444;
}

h2 {
  margin-top: 15px;
}

.wrapper {
  margin-top: 100px;
  margin-bottom: 400px;
  padding: 2px;
  background-color: rgba(238, 238, 238, 0.9);
}

section {
  border-top: none;
}

@media print, screen and (max-width: 740px) {
  body {
    background: none;
  }

  .wrapper {
    margin: 0;
  }
}
